[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
ddtrace = ">=0.21.0"
gevent = "*"
flask = "*"
gunicorn = "*"
structlog = "*"
python-json-logger = "*"

[requires]
python_version = "3.6"
